html, body {
    height: 100%;
    margin: 0;
}

#content {
    min-height: 100%; 
}





/* bootstrap overrides */
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}
/***********************/


.space-right {
    margin-right: 10px;
}

.fade {
    display: none;
}

.in {
    display: block;
}

.login {
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    right: 0;
    position: absolute;
}

.hover:hover {
    cursor: pointer;
}
